terraform {
  backend "azurerm" {
    resource_group_name  = "rg-civicfix-tfstate"
    storage_account_name = "stcivicfixtfstate"
    container_name       = "tfstate"
    key                  = "civicfix-platform/dev/terraform.tfstate"
  }
}
